.list {
  list-style: none;
}

.icon {
  display: inline-block;
  width: 1.5em; /* Set a fixed width for the icon */
  text-align: center; /* Center the icon horizontally */
  vertical-align: middle; /* Align the icon vertically with the text */
  margin-right: 0.5em; /* Add some space between the icon and the text */
}

.name {
  display: inline-block;
  vertical-align: middle;
  color: #f0c674;
}

.description {
  margin-left: 2em; /* Add some space between the icon and the text */
  font-size: 1em;
  color: #959595;
  margin-left: 10px;
}
