.App {
  background-color: #333;
  color: white;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.centered-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  border: solid 1px white;
  outline: none;
  margin: 0;
  padding: 10px;
  background-color: transparent;
  color: white;
  width: 100%;
  font-size: large;
}

.terminal {
  border: solid 1px white;
  white-space: pre-line;
  font-size: large;
}

#terminal-name {
  color: #b5bd68;
}

p {
  margin: 0;
  padding: 0;
}
